*
!*.yaml
!scenes
!.gitignore
!.travis.yml
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!ISSUE_TEMPLATE.md
!LICENSE
!PULL_REQUEST_TEMPLATE.md
!README.md
!_config.yml
!gitupdate.sh
secrets.yaml
known_devices.yaml
